[submodule "library/billboard"]
path = addons/nuxeo-test
url = git@StaylerG/submodule-test:main
[submodule "addons/nuxeo-test"]
	path = addons/nuxeo-test
	url = https://github.com/StaylerG/submodule-test
	branch = main
