name: Submodule_update
on:
  schedule:
  - cron:  "30 */2 * * *"
  workflow_dispatch:

jobs:
  submodule_update:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0 
    - name: Submodule update
      id: submodule_update
      run: |
        git submodule init
        git submodule update --remote --merge
        git config --local user.email "<>"
        git config --local user.name "GitHub Actions Bot"
        git commit -am "--Tree updater"
    - name: Push updates
      if: ${{ steps.submodule_update.outputs.NO_CHANGES != true }}
      run: git push origin
