name: submodule_update
on:
  schedule:
  - cron:  "30 */2 * * *"
  workflow_dispatch:

jobs:
  submodule_update:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        persist-credentials: false
        fetch-depth: 0 
    - name: Submodule update
      run: |
        git submodule init
        git submodule update --remote --merge
        git config --local user.email "<>"
        git config --local user.name "GitHub Actions Bot"
        git commit -am "--Tree updater"
        git push origin
